body{
padding-top: 70px;
}

.navbar-header {
    float: left;
    padding: 15px;
    text-align: center;
    width: 100%;
}
.navbar-brand {
    float:none;
    font-size:28px;
}

form{
    margin-top: 50px;
}

.row {
    display:flex;
    flex-wrap:wrap;
}

.btn{
    margin-bottom: 20px;
}