<footer>
 <div class="ui three column centered stackable grid container">
  <div class="column">
   <div class="ui horizontal divider">
    <i class="circular list icon"></i>
   </div>
   <div class="ui relaxed list">
    <a href="/" class="item">
     <i class="home icon"></i> Home</a>
    <a href="/portfolio" class="item">
     <i class="code icon"></i> Portfolio</a>
    <a href="/about" class="item">
     <i class="user icon"></i> About</a>
    <a href="/contact" class="item">
     <i class="mail icon"></i> Contact</a>
   </div>
  </div>
  <div class="column">
   <div class="ui horizontal divider">
    <i class="circular chat icon"></i>
   </div>
   <p>Paw at beetle and eat it before it gets away lick butt stare out the window spit up on light gray carpet instead of adjacent linoleum but attack feet.</p>

  </div>
  <div class="column">
   <div class="ui horizontal divider">
    <i class="circular pencil icon"></i>
   </div>
   <div class="ui small feed">
    <div class="event">
     <div class="label">
      <img src="http://semantic-ui.com/images/avatar/small/elliot.jpg"></img>
     </div>
     <div class="content">
      <div class="summary">
       <p>You added <a>Jenny Hess</a> to your <a>coworker group.</a></p>
      </div>
      <div class="date">
       Just now
      </div>

     </div>
    </div>
    <div class="event">
     <div class="label">
      <img src="http://semantic-ui.com/images/avatar/small/jenny.jpg"></img>
     </div>
     <div class="content">
      <div class="summary">
       <p>You added <a>Elliot Hess</a> to your <a>coworker group.</a></p>
      </div>
      <div class="date">
       Just now
      </div>

     </div>
    </div>
   </div>
  </div>
 </div>

</footer>

<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.js"></script>
<script src="scripts/app.js"></script>
