<div id="m_menu" class="ui sidebar vertical menu">
    
    <div class="item">
            <a class="ui mini image" href="/"><img src="https://www.americanpressinstitute.org/wp-content/themes/american-press-institute/img/materiell-logo.svg"></a>
        </div>

    <a href="/" class="item">
        <i class="home icon"></i>Home</a>
    <a href="/portfolio" class="item">
        <i class="code icon"></i>Portfolio</a>
    <a href="/about" class="item">
        <i class="user icon"></i>About</a>
    <a href="/contact" class="item">
        <i class="mail icon"></i>Contact</a>
</div>
<div class="ui large top fixed hidden menu">
    <div id="m_btn" class="item">
        <button class="ui labeled icon basic button">
          <i class="list layout icon"></i>Menu
        </button>
    </div>
    <div id="menu" class="ui container">
        <div class="item">
            <a class="ui mini image" href="/"><img src="https://www.americanpressinstitute.org/wp-content/themes/american-press-institute/img/materiell-logo.svg"></a>
        </div>


        <div class="right menu">
            <a href="/" class="item">
                <i class="home icon"></i>Home</a>
            <a href="/portfolio" class="item">
                <i class="code icon"></i>Portfolio</a>
            <a href="/about" class="item">
                <i class="user icon"></i>About</a>
            <a href="/contact" class="item">
                <i class="mail icon"></i>Contact</a>
        </div>

    </div>

</div>

<div class="header_bg">
    <h1 class="ui icon inverted header dividing">
        <i class="circular comments icon"></i>Learn. Live. Play
        <p class="sub header">learning should be fun</p>
        
    </h1>
</div>
