<div class="ui top fixed menu">
    <div class="ui container">
        <div class="item">
            <a class="ui mini image" href="/"><img src="https://www.americanpressinstitute.org/wp-content/themes/american-press-institute/img/materiell-logo.svg"></a>
        </div>


        <div class="right menu">
            <a href="/" class="item">
                <i class="home icon"></i> Home</a>
            <a href="/portfolio" class="item">
                <i class="code icon"></i> Portfolio</a>
            <a href="/about" class="item">
                <i class="user icon"></i> About</a>
            <a href="/contact" class="item">
                <i class="mail icon"></i> Contact</a>
        </div>

    </div>
</div>
