<!doctype html>
<html>

<head>
    <title>About | Getting Started With Semantic UI</title>
    <% include partials/head %>
</head>

<body rel=3>
    <% include partials/header %>
    <div class="ui container">
        <div class="ui breadcrumb">
            <a href="/" class="section">Home</a>
            <i class="right icon angle right divider"></i>
            <a href="/about" class="active section">About</a>
        </div>
        <div class="about">
            <img class="ui medium circular left floated image" src="http://www.zoesanimalrescue.org/wp-content/uploads/2017/01/tan-e1484956621682-250x250.jpg">
        <p>Sniff other cat's butt and hang jaw half open thereafter cat slap dog in face and lick the other cats and stare out the window eat prawns daintily with a claw then lick paws clean wash down prawns with a lap of carnation milk then retire to the warmest spot on the couch to claw at the fabric before taking a catnap. Stretch mewl for food at 4am yet meow stares at human while pushing stuff off a table so cat snacks, but cat snacks. Sleep in the bathroom sink. Hack up furballs scream at teh bath spread kitty litter all over house yet always hungry hiss at vacuum cleaner yet chew on cable. Meoooow! instantly break out into full speed gallop across the house for no reason yet hunt by meowing loudly at 5am next to human slave food dispenser sit and stare chirp at birds, and white cat sleeps on a black shirt. Meow to be let in intently sniff hand human is washing you why halp oh the horror flee scratch hiss bite run outside as soon as door open, i could pee on this if i had the energy my slave human didn't give me any food so i pooped on the floor.</p>
        <p>Sniff other cat's butt and hang jaw half open thereafter cat slap dog in face and lick the other cats and stare out the window eat prawns daintily with a claw then lick paws clean wash down prawns with a lap of carnation milk then retire to the warmest spot on the couch to claw at the fabric before taking a catnap. Stretch mewl for food at 4am yet meow stares at human while pushing stuff off a table so cat snacks, but cat snacks. Sleep in the bathroom sink. Hack up furballs scream at teh bath spread kitty litter all over house yet always hungry hiss at vacuum cleaner yet chew on cable. Meoooow! instantly break out into full speed gallop across the house for no reason yet hunt by meowing loudly at 5am next to human slave food dispenser sit and stare chirp at birds, and white cat sleeps on a black shirt. Meow to be let in intently sniff hand human is washing you why halp oh the horror flee scratch hiss bite run outside as soon as door open, i could pee on this if i had the energy my slave human didn't give me any food so i pooped on the floor.</p>    
        </div>
        
    </div>
    <% include partials/footer %>
</body>

</html>