<!doctype html>
<html>
    <head>
        <title>Contact | Getting Started With Semantic UI</title>
        <% include partials/head %>
    </head>
    <body rel=4>
        <% include partials/header %>
        <% include partials/footer %>
    </body>
    
</html>