<!doctype html>
<html>
    <head>
        <title>Getting Started With Semantic UI</title>
        <% include partials/head %>
    </head>
    <body rel=1>
        <% include partials/header %>
        <div id="index" class="ui three column stackable center aligned container grid">
            <div class="row">
                <div class="column"><i class="circular inverted olive write icon"></i>
                    <p>Cat is love, cat is life attack dog, run away and pretend to be victim. Give attitude. Hide head under blanket so no one can see hunt anything that moves, or the dog smells bad so lay on arms while you're using the keyboard</p>
                    <img class="ui small centered circular image" src="http://www.zoesanimalrescue.org/wp-content/uploads/2017/01/tan-e1484956621682-250x250.jpg">
                </div>
                <div class="column"><i class="circular inverted olive write icon"></i>
                    <p>Cat is love, cat is life attack dog, run away and pretend to be victim. Give attitude. Hide head under blanket so no one can see hunt anything that moves, or the dog smells bad so lay on arms while you're using the keyboard</p>
                    <img class="ui small centered circular image" src="http://www.zoesanimalrescue.org/wp-content/uploads/2017/01/tan-e1484956621682-250x250.jpg">
                </div>
                <div class="column"><i class="circular inverted olive write icon"></i>
                    <p>Cat is love, cat is life attack dog, run away and pretend to be victim. Give attitude. Hide head under blanket so no one can see hunt anything that moves, or the dog smells bad so lay on arms while you're using the keyboard</p>
                    <img class="ui small centered circular image" src="http://www.zoesanimalrescue.org/wp-content/uploads/2017/01/tan-e1484956621682-250x250.jpg">
                </div>
            </div>
        </div>
        <% include partials/footer %>
    
    </body>
</html>