<!doctype html>
<html>
    <head>
        <title>Getting Started With Semantic UI</title>
        <% include partials/head %>
    </head>
    <body>
        
        <% include partials/header %>
        <% include partials/footer %>
    
    </body>
</html>